body{
    background-color: rgb(120, 209, 202);
    line-height: 1.5;
    font-family: sans-serif;
    text-align: justify;
    margin: 2em;
    padding: 2em;
    color: black;
    border: solid 1px;
}

h2{
    text-align: center;
    color : rgb(0, 38, 255)
}